.content {
  width: 100%;
  padding: spacing(15);
}

.section {
  margin-top: spacing(8.5);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing(2);
}

.balance-wrapper {
  display: flex;
  align-items: center;
  gap: spacing(2.5);
}

.balance-amount {
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
}

.currency {
  width: spacing(10);
  height: spacing(6);
  padding: spacing(0.5);
  font-weight: bold;
  text-align: center;
  color: $white;
  background-color: $aspire-green;
  border-radius: spacing(1);
}

@media (max-width: $breakpoint-sm) {
  .content {
    padding: 0;
    background-color: $aspire-dark-blue;
  }

  .header {
    padding: spacing(6);
    color: $white;
  }

  .section {
    margin-top: spacing(1.5);
  }

  button.add-card-button {
    color: $aspire-green;
    background-color: transparent;

    path {
      fill: $aspire-green;
    }
  }
}