.content {
  width: 100%;
  padding: spacing(15);
}

.flex-content {
  width: 900px;
  margin: 0 auto;
}

.section {
  margin-top: spacing(8.5);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing(2);
}

.balance-wrapper {
  display: flex;
  align-items: center;
  gap: spacing(2.5);
}

.balance-amount {
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
}

.currency {
  width: spacing(10);
  height: spacing(6);
  padding: spacing(0.5);
  text-align: center;
  font-weight: bold;
  color: $white;
  background-color: $aspire-green;
  border-radius: spacing(1);
}