@media (max-width: $breakpoint-sm) {
  .hide-xs {
    display: none !important;
  }
}

@media (max-width: $breakpoint-md) {
  .hide-sm {
    display: none !important;
  }
}

@media (max-width: $breakpoint-lg) {
  .hide-md {
    display: none !important;
  }
}

@media (max-width: $breakpoint-xl) {
  .hide-lg {
    display: none !important;
  }
}

@media (min-width: $breakpoint-xl) {
  .hide-xl {
    display: none !important;
  }
}