$aspire-green: #01D167;
$aspire-green-light: #00D6B51A;
$aspire-green-light2: #EDFFF5;
$aspire-dark-blue: #0C365A;
$aspire-blue1: #325BAF;
$aspire-blue2: #274687;
$aspire-blue-light: #EDF3FF;
$aspire-blue-light2: #F5F9FF;
$aspire-blue-light3: #009DFF1A;
$aspire-red-light: #F251951A;
$border-light: #F5F5F5;
$border-blue: #23CEFD;

$grey: #222222;
$grey2: #AAAAAA;
$white: #FFFFFF;