.my-cards-wrapper {
  display: flex;
  flex-direction: row;
}

.cards-wrapper, .cards-cta-wrapper {
  width: spacing(104);
  margin: 0 auto;
}

.visibility-cta {
  display: flex;
  gap: spacing(1.5);
  cursor: pointer;
  margin-bottom: spacing(3);
  color: $aspire-green;
}

.visibility-cta-wrapper {
  display:  flex;
  justify-content: flex-end;
  gap: spacing(1.5);
  cursor: pointer;
}

.cards-cta-wrapper {
  display: flex;
  gap: spacing(5);
  margin-top: spacing(14);
  padding: spacing(5) spacing(7);
  background-color: $aspire-blue-light;
  border-radius: spacing(3);
}

.transactions-wrapper {
  padding-left: spacing(10)
}

@media (max-width: $breakpoint-xl) {
  .transactions-wrapper {
    padding-left: spacing(5);
  }

  .cards-wrapper, .cards-cta-wrapper {
    width: spacing(89);
  }
}


@media (max-width: $breakpoint-xl) {
  .transactions-wrapper {
  }
}

@media (max-width: $breakpoint-sm) {
  .cards-cta-wrapper {
    margin: spacing(12) 0 0;
    width: 100%;
    border-radius: spacing(5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .transactions-wrapper {
    padding: 0 spacing(6) spacing(25);
    background-color: $white;
  }

  .visibility-cta {
    margin-bottom: spacing(-2.5);
    padding: spacing(1.5) spacing(2.5) spacing(4) spacing(2.5);
    background-color: $white;
    border-top-right-radius: spacing(1.5);
    border-top-left-radius: spacing(1.5);

    &-text {
      font-weight: 600;
    }
  }
}

