.card {
  width: spacing(104);
  padding: spacing(7);
  color: $white;
  text-align: initial;
  background-color: $aspire-green;
  border-radius: spacing(3);
  border: 1px solid $white;
}

.cardTop {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: spacing(21);
  height: spacing(6);

  path {
    fill: $white;
  }
}

.owner-name {
  margin-top: spacing(7);
}

.number {
  margin-top: spacing(7);
  letter-spacing: spacing(2);
  word-spacing: spacing(2);
}

.other-details {
  display:  flex;
  margin-top: spacing(4);
  gap: spacing(9);
}

.expiry, .cvv {
  display: flex;
  gap: spacing(2);
}

.cvv-value {
  line-height:  spacing(7);
  letter-spacing:  spacing(1);
}

.card-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: spacing(1);
}

.brand-logo {
  width: spacing(16);
  height:  spacing(6);
}

@media (max-width: $breakpoint-lg) {
  .card {
    width: spacing(89);
    padding: spacing(6);
  }

  .owner-name, .number {
    margin-top: spacing(6);
  }

  .logo {
    width: spacing(18.5);
    height: auto;
  }

  .brand-logo {
    width: spacing(15);
    height: auto;
  }
}