.left-sidebar {
  position: fixed;
  left:0; top: 0;
  height: 100vh;
  padding: spacing(12);
  background-color: $aspire-dark-blue;
}

.logo {
  width: spacing(31);
  height: auto;

  path {
    fill: $aspire-green;
  }
}

.tagline {
  margin-top: spacing(5);
  color: $white;
  opacity: 0.3;
}

.navigation {
  margin-top: spacing(16);
}

@media (max-width: $breakpoint-xl) {
  .left-sidebar {
    padding: spacing(4);
  }
  .navigation {
    margin-top: spacing(40);
  }

  .logo {
    width: spacing(9);
    height: auto;
  }
}

@media (max-width: $breakpoint-lg) {
  .left-sidebar {
    padding: spacing(3);
  }
}