.tab-container {
  width: 100%;
}

.tab-headers {
  display: flex;
  gap: spacing(8);
}

.tab-content {
  margin-top: spacing(2);
  min-height: 300px;
  padding: spacing(8) spacing(10);
  box-shadow: 0 0 spacing(3) #00000014;
  border-radius: spacing(1);
}

.tab-button {
  padding: spacing(2) 0;
  font-weight: normal;
  opacity: 30%;
  border-radius: 0;

  &.active {
    opacity: 100%;

    & > div {
      font-weight: bold;
      line-height: spacing(8);
      border-bottom: 2px solid $border-blue;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .tab-content {
    padding: spacing(10) spacing(6);
  }
}

@media (max-width: $breakpoint-sm) {
  .tab-content {
    padding: 0;
    box-shadow: none;
  }

  .tab-headers {
    padding: spacing(6);
  }

  .tab-button {
    color: $white;
  }
}